body, html{
  height:100%;
}
body{
  width: 1920px;
  height: 1080px;
  margin: 0px;
  background-image: url('http://i.vimeocdn.com/video/460516322_1280x720.jpg');
  font-size: 18px;
  background-size: 120% 120%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.title, .addSquareButton{
  padding:5px 12px;
  float:right;
}
.title, .addHopefulButton{
  padding:5px 12px;
  float:right;
}
.title, .lineButton{
  padding:5px 12px;
  float:right;
}
.title, .interactButton{
  padding:5px 12px;
  float:right;
}
.topbar{ 
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer {
  width: 170px;
  height: 170px;
  border-radius:10px;
  position: absolute;
  background-image: url('https://lh3.googleusercontent.com/J7-spQrDmdhpi3cLiAtGrPb5gSE8C8a_wLlo7606rxfNPm6nRT-IhJKHSuLH4A8Df-4=w170');
}
.BlinkyDancer {
  width: 170px;
  height: 170px;
  border-radius:10px;
  position: absolute;
  background-image: url('http://gifdanceparty.giphy.com/assets/dancers/smooch.gif');
  background-size: 100% 100%;
}
.SquareDancer {
  width: 340px;
  height: 340px;
  border-radius:10px;
  position: absolute;
  background-image: url('http://bestanimations.com/Games/Computer/MortalCombat/mortal-kombat-animated-gif-7.gif');
  background-size: 100% 100%;
}
.HopefulDancer {
  width: 170px;
  height: 170px;
  border-radius:10px;
  position: absolute;
  background-image: url('https://media.giphy.com/media/2d8X4EQIdsXQc/giphy.gif');
  background-size: 100% 100%;
}

/*.addSquareButton{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}*/

/*#blinky{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}*/